.color-primary {
  color: #684df4;
}

.text-primary {
  color: #737887;
  line-height: 1.6;
  font-size: 17px;
}

.color-title {
  color: #141d38;
}

.text-white {
  color: white;
}

.bg-primary {
  background-color: #684df4;
}

.bg-secondary {
  background-color: #684df4;
}

.bg-ternary {
  background-color: #141d38;
}

.bg-white {
  background-color: white;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.gap-30 {
  gap: 30px;
}

.h-screen {
  height: 1vh;
}

.btn-primary {
  text-align: center;
  background-color: #684df4;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 20.5px 20px;
  min-width: 144px;
  border-radius: 4px;
  border: none;
}

.btn-primary:hover {
  background-color: #141d38;
}

.sub-title {
  font-weight: 600;
  color: #684df4;
}

.section-title {
  font-size: 40px;
  line-height: 1.25;
  color: #141d38;
  margin: 20px 0px;
}

.section-title span {
  color: #684df4;
}

.section-img img {
  width: 90%;
}

.box-title {
  font-size: 24px;
  line-height: 1.417;
  font-weight: 700;
  margin-top: -0.32em;
}
